*{
	margin: 0px;
	padding: 0px;
}
body{
	background: white;
	color: black;
}
nav{
	background: black;
	padding: 16px;
}
nav ul{
	display: flex;
}
	
nav ul li a{
	color: white;
	padding: 15px;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
}	
nav ul li{
	list-style: none; 
}
nav ul li a:hover{
	background: white;
	color: blue;
	border-radius: 8px;

}
.active{
	background: white;
	color: green;
	border-radius: 8px;
}
.conteneur{
	margin: 20px;
	background: gray;
	box-shadow: 0.4px 1px 1px 1px;
	padding: 100px;
	height: 20%;
	border-radius: 15px;
}
.conteneur .images {
	margin-top:5px;
	margin-bottom: 10px;
	box-shadow: 10px;
    border-radius: 10px;
}

button {
	background: white;
	color: blue;
	border-radius: 50px;
}
.conteneur p{
	font-size: 24px;

	
}
.mbote h2{
	padding: 15px;
	background: gray;
	border-radius: 10px;
	margin-bottom: 10px;
}
.input{
	padding: 6px;
	width: 40%;
	height: 20px;
	background: ;
	height: 20px;
}

.btn{
	padding: 8px;
	border:5px solid red;
	background: blue;
	color: white;
	border-radius: 20px;
	width: 150px;

}




